tr {
  animation: fadeIn 0.4s ease-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.table :where(thead, tfoot) {
  background-color: transparent;
}

/* Transisi Halus */
.btn,
.badge,
.input {
  transition: all 0.2s ease-in-out;
}
